<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SecondKadai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBF60B791D6948E70096D9DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBF60B8D1D6948E70096D9DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBF60B981D6948E70096D9DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
